ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.sp {
    float: right;
}

li a:hover,
li a:active {
    background-color: #111;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: #cbb9a8;
    font-family: monospace;
    color: #111;
    font-size: large;
}

.active {
    background-color: #60483e;
}

.link {
    text-decoration: none;
    color: darkred;
}

.link:hover,
.link:active {
    background: none;
    color: red;
    cursor: pointer;
}

.center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 45%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom right, #a3907c, #cbb9a8, #ede4da);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.container {
    padding: 2px 16px;
}

@media screen and (max-width: 600px) {

    li,
    li.sp {
        float: none;
    }

    .card {
        width: 300px;
    }
}